.post-header {
	.tippy-content {
		padding: 0;
	}

	.tippy-box {
		background: white;
	}

	.tippy-box[data-placement^="top"] .tippy-arrow::before {
		border-top-color: white;
	}
	.tippy-box[data-placement^="bottom"] .tippy-arrow::before {
		border-bottom-color: white;
	}
	.tippy-box[data-placement^="left"] .tippy-arrow::before {
		border-left-color: white;
	}
	.tippy-box[data-placement^="right"] .tippy-arrow::before {
		border-right-color: white;
	}
}
